<!doctype html>
<html lang="ko">
<head>
    <meta charset="utf-8"/>
    <title></title>
</head>
<body>
<table width="600" border="0" cellpadding="0" cellspacing="0" style="margin: 0 auto; border-collapse: collapse;">
    <tr>
        <td style="padding: 30px 0px; text-align: center; background-color: #1704A0;">
            <img width="142" src="https://bsidebest.s3.ap-northeast-2.amazonaws.com/asset/images/mail/logo-white.png" alt="BSIDE" style="vertical-align: top;">
        </td>
    </tr>
    <tr><td style="height: 20px;"></td></tr>

    <tr>
        <td style="padding: 0px 20px;">
            <p style="color: #000; font-size: 16px; line-height: 34px; margin: 0px;">
                메일 내용을 입력하세요.
            </p>
        </td>
    </tr>

    <tr><td style="height: 50px;"></td></tr>

    <tr>
        <td style="padding: 10px 20px;">
            <p style="margin: 0px; font-size: 12px; line-height: 20px; color: #687794; text-align: center;">
                본 메일은 발신 전용 메일입니다.<br>
                문의는 <a href="https://pf.kakao.com/_xmfwqxb" target="_blank" style="color: inherit;">카카오톡 채널</a>을 이용해 주세요.
            </p>
        </td>
    </tr>

    <tr><td style="height: 20px;"></td></tr>

    <tr>
        <td style="padding: 30px 20px; background-color: #F5F6F8;">
            <table width="560" cellpadding="0" cellspacing="0" style="margin: 0 auto; border-collapse: collapse;">
                <tr>
                    <td>
                        <a href="https://bside.best" target="_blank">
                            <img src="https://bsidebest.s3.ap-northeast-2.amazonaws.com/asset/images/mail/logo-footer.png" alt="BSIDE" style="width: 45.5px; vertical-align: middle;">
                        </a>
                        <span style="color: #6F6F72; font-size: 12px; line-height: 22px;"> | 경험을 통해 성장하는 IT 사이드 프로젝트 플랫폼</span>
                    </td>
                </tr>
                <tr>
                    <td>
                        <p style="margin: 16px 0px; font-size: 12px; line-height: 20px; color: #6F6F72;">
                            주식회사 진지한 컴퍼니<br>
                            주소: 서울시 서초구 서초대로 77길 17, 11층<br>
                            이메일: staff@bside.best
                        </p>
                        <p style="margin: 0px; font-size: 12px; color: #6F6F72;">
                            Copyright2021 @ Jinjihan Company Ltd.Co All Rights Reserved
                        </p>
                    </td>
                </tr>
            </table>
        </td>
    </tr>

    <tr><td style="height: 30px;"></td></tr>
</table>
</body>
</html>
